Source: scibian-notify
Section: scibian
Priority: extra
Maintainer: Scibian Packaging Team <packaging@scibian.org>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.3.0

Package: scibian-notify
Architecture: all
Depends: python-gobject, python-notify
Description: Scibian desktop reboot notifications
 Ask the user to reboot the computer if needed
